.all{
    font-family: sans-serif;
    padding: 20px;
}

#align {
    text-align: center;
}
#heading{
    font-family: Georgia, 'Times New Roman', Times, serif

}

#main{
    text-align: left;
    float: left;
    margin: 20px 20px;
}

.head{
    text-align: right;
    margin: 20px;
}

.big{
    line-height: 1.5;
}

div #sideBar {
    text-align: center;
}
#sideBar {
    background-color: rgb(247, 245, 245);
    border: 0.75px solid black;
    float: right;
    text-align: left;
    padding: 5px;
    font-size: 14px;
    width: 300px;
}

#sidebarpicture{
    width: 250px;

}

#tableOfcontents {
    background-color: #f8f9fa;
    border: 0.75px solid black;
    width: 250px;
    margin: 20px 20px;
}

#pictureside {
    border: 0.75px solid black;
    float: right;
    text-align: center;
    width: 250px;
    padding: 5px;
}

#sidefloatright {
    width: 250px;
    float: right;
    text-align: left;
}

#asideleft {
    text-align: left;
    margin: 20px 20px;
    line-height: 1.5;
}

#gallery{
    height: 200px;
    text-align: center;
  
}

#displayline{
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    height: 200px;
    padding: 20px;
    margin: 10px;
}

.alldisplay {
    display:inline-block;
}
.captioncenter{
    text-align:center;
    width: 70%;
    font-size: 14px;
    margin: 10px;
}

.caption {
    text-align: left;
    font-size: 12px;
}

.name{
    font-style: italic;
    color: darkblue;
}

.namecolor{
    color: darkblue;
}

.fontweight {
    font-weight: bold;
}

.topic{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sideBySide {
    display:flex;
    margin: 8px;
}

.sideBySide span {
    text-align: left;
}

.sideBySide span:first-child{
    font-weight: bold;
    width: 100px;
}

.sideBySide span:last-child{
    color: darkblue;
}