.font{
    font-family: sans-serif;
}

#heading{
    font-family: Georgia, 'Times New Roman', Times, serif
}

#main{
    text-align: left;
    float: left;
    margin: 20px 20px;
}

.head{
    text-align: right;
    margin: 20px;
}

.big{
    line-height: 1.5;
}

#sidebar {
    background-color: rgb(247, 245, 245);
    border: 0.75px solid black;
    float: right;
    text-align: left;
    padding: 5px;
    font-size: 14px;
    width: 275px;
}

#sidebarpicture{
    width: 200px;

}

#tableOfcontents {
    background-color: #f8f9fa;
    border: 0.75px solid black;
    width: 250px;
    margin: 20px 20px;
   
}

#pictureside {
    border: 0.75px solid black;
    float: right;
    text-align: center;
    width: 200px;
    padding: 5px;
}

#sidefloatright {
    width: 200px;
    float: right;
    text-align: left;
}

#asideleft {
    text-align: left;
    margin: 20px 20px;
    line-height: 1.5;
}

#gallery{
    height: 200px;
  
    
}

#displayline{
    display: inline-block;
    height: 200px;
    padding: 5px;
    margin: 2px;
}

.captioncenter{
    text-align:center;
    width: 250px;
    font-size: 14px;
}

.name{
    font-style: italic;
    color: darkblue;
}

.topic{
    font-family: Georgia, 'Times New Roman', Times, serif;
}