#main{
    background-color:#e6e6fa;
    padding: 30px;
    margin: 30px;
}

#content{
    background-color:#6a5acd;
    border: 5px solid #042d8b;
    color:white;
    margin: 20px 0px;
    padding: 20px;
}

#content > div {
    margin: 16px 0;
}

.quote{
    padding-left: 36px;
}

.quoteCitation{
    margin-left: 36px;
}