body{
    padding: 20px;
    margin: 20px;
}

.button {
    background-color: #FAAB75;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    padding:10px;
   
}
nav img {
    height: 80px;
}

main img {
    width:100%;
}

main h1 {
    color:#7d2e01;
    text-align: center;
}

main {
    margin: 20px;
    padding: 30px;
}

nav a {
    text-decoration: none;
    color: rgb(65, 21, 21);
    text-align: center;
    padding: 10px;
}

nav > ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    padding: 0px;
    font-weight: bold;
}

#home {
    margin-right: auto;
    display: flex;
}
/* nav > ul > li a:hover {} */
nav > ul > li:hover {
    background-color:#7d2e01;
}


nav > ul > li {
    padding: 12px;
    transition: background-color 0.5s;
}

.dropdown{
    position: relative;
}

.dropdown ul{ 
    /* display: flex; */
    flex-direction: column;
    list-style-type: none;
    padding:0px;
    position: absolute;
    left: 0px;
    top: 75%;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.5s, 
        visibility 0.5s,
        top 0.5s;
}

.dropdown:hover ul{
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.dropdown ul li{
    background-color: #FAAB75;
    padding: 10px;
}

.dropdown ul li a {
    
    display: inline-block;
    padding: 10px;
    width: 150px;
}

.dropdown ul li a:hover {
    background-color: rgb(251, 230, 213);
}

gallery img {
    width: 300px;
    height: 350px;
    display:inline-block;
    padding: 10px;
    margin: 10px;
}

