nav img {
    height: 80px;
}
main img {
    height:400px;
    width:860px;
}
nav {
    background-color: rgb(52, 9, 3);
}
nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}
nav > ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0px;
}

/* nav > ul > li a:hover {} */
nav > ul > li:hover {
    background-color:#7d2e01;
}


nav > ul > li {
    background-color:rgb(52, 9, 3);
    padding: 12px;
}

.dropdown{
    position: relative;
}

.dropdown ul{ 
    display: none;
    /* display: flex; */
    flex-direction: column;
    list-style-type: none;
    padding:0px;
    position: absolute;
    left: 0px;
    top: 100%;
}

.dropdown:hover ul{
    display: flex;
}

.dropdown ul li{
    background-color: #FAAB75;
    padding: 10px;
}