body{
    padding: 20px;
    margin: 20px;
}

.button {
    background-color: #FAAB75;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    padding:10px;
   
}
nav img {
    height: 80px;
}

main img {
    width:100%;
}

main h1 {
    color:#7d2e01;
    text-align: center;
}

main {
    margin: 20px;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: rgb(65, 21, 21);
    text-align: center;
    padding: 10px;
}

nav > ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0px;
    font-weight: bold;
}

#home {
    margin-right: auto;
    display: flex;
}
/* nav > ul > li a:hover {} */
nav > ul > li:hover {
    background-color:#7d2e01;
}


nav > ul > li {
    padding: 12px;
}

.dropdown{
    position: relative;
}

.dropdown ul{ 
    display: none;
    /* display: flex; */
    flex-direction: column;
    list-style-type: none;
    padding:0px;
    position: absolute;
    left: 0px;
    top: 100%;
}

.dropdown:hover ul{
    display: flex;
}

.dropdown ul li{
    background-color: #FAAB75;
    padding: 10px;
}


gallery img {
    width: 200px;
    height: 250px;
    display:inline;
    padding: 10px;
    margin: 10px;
}
gallery {
    display:inline;
    display: flex;
}

