table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 12px;
}

thead tr{
    background-color: navy;
    color: white;
}

tbody tr:first-child {
    background-color: rgb(202, 210, 228);
}

#specialCell {
    background-color: bisque;
}

colgroup col:first-child{
    background-color: rgb(133, 220, 162);
}
