
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-size: 500px;
}

#header div {
    display: inline-block;
    margin: 12px;
}



body {
    background-color: rgb(255, 255, 255) ;
    font-family: sans-serif;
    font-size: 18px;
    margin: 0px;
}

#new {
    color: rgb(255, 255, 255);
    background-color: red;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
}

#price {
    font-weight: bold;
    font-size: 24px;
}
#learn a {
    color:blue;
    margin: 10px;
    text-decoration: none;

}
nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0px;
    font-weight: bold;
}

.nav > ul {
    display: flex;
    width:auto;
    list-style-type: none;
	align-items: center;
    list-style-type: none;
    color: white;
    
}
.nav ul li:first-child {
    margin-right: auto; 
}

.nav > li:nth-child,
.nav > li:nth-last-child {
	justify-self: end;
}


.nav img {
    width: 150px;
    margin-right: auto;
}



.language  {
    text-decoration: none;
    color:white;
    text-align: center;
    border: solid 1px white;
    border-radius: 2px;
    background-color: rgba(79, 78, 77, 0.516);
    padding: 10px 10px;
}

.nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0px;
    font-weight: bold;
}

 .language > ul > li:hover {
    background-color:#17161630;
    color:white;  
}


.language > ul > li {
    padding: 12px;
    transition: background-color 0.5s;
    list-style-type: none;
}


.language{
    position: relative;
}

.language ul{ 
    /* display: flex; */
    flex-direction: column;
    list-style-type: none;
    padding:0px;
    position: absolute;
    left: 0px;
    top: 75%;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.5s, 
        visibility 0.5s,
        top 0.5s;
    color:white;
}

.language:hover ul{
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.language ul li{
    background-color: #17161630;
    padding: 0px;
}

.language ul li a {
    display: inline-block;
    padding: 10px;
    width: 100px;
}

.language ul li a:hover {
    background-color: rgba(113, 112, 111, 0.776);
    color:white;
}

#sign {
    background-color: red;
    border-radius: 4px;
    color: white;
    padding: 10px 30px;
    margin: 20px;
}
.hero-image {
    background-image:
     radial-gradient(transparent 25%, black),
     url("..//images/bgnex.jpg");

    background-color: #1c0b0038;
    min-height: 500px;
    
    background-size: cover;
    /* position: relative; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    background-position: center, center;
    background-attachment: fixed; */
    opacity: 0.9;
}

.hero-text{
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
   
}



.hero-text h1{
    font-size: 50px;
}


#form {
    width: 70%;
    height: 60px;
    padding: 12px 24px;
    font-size: 20px;
    border: none;
}


#button {

    border: none;
    background-color: red;
    color: white;
    font-size: 20px;
    height: 60px;
    padding: 12px 24px;
}

#main {
    max-width: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;

}

#text {
    color: white;
}

footer {
    background-color: black;
    background-size: 5000px;
    color: white;
    padding: 50px;

}

#call {
    display: flex;
    justify-content: start;

}

  ul {
    list-style: none;
    padding-left: 0;
  }
  footer {
    background-color: #000000;
    color: #b2acac;
    line-height: 2;
    font-size: 12px;
  }
  footer a {
    text-decoration: none;
    color: #a19d9d;
  }
  a:hover {
    text-decoration: underline;
  }
  

  /* Footer main */
  .ft-main {
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

 .ft-main-item li {
    padding:5px;
 }

 footer p {
    display: flex;
    justify-content: start;
    padding: 20px 20px;
 }

 footer #container {
    max-width: 800px;
    margin: 0px auto;
 }

 @media screen and (max-width: 480px) {
    #main .hero-text h1{
        font-size: 30px;
    }

    #header {
        flex-direction: column;
    }
    
  #heroContent input[type="email"] {
    width: 100%;
  }
    
 }