
ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none; 
    padding: 0px;
}

li {
    margin: 12px;
}

li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

nav {
    background-color: #f0f8ff;
}

#home {
    margin-right: auto;
}

@media screen and (max-width: 768px) {
    body {
        background-color: rgb(244, 236, 251);
    }

    ul {
        flex-direction: column;
        align-items: center;
    }

    #home {
        margin-right: inherit;
    }

}