@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans:wght@300&display=swap');

/*
Leave the note here / not show on the web
*/

#p1 {
    color:blueviolet;
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
}

#p2 {
    color: #986329;
    font-size: 150%;
}

#p3 {
    color:rgba(30, 235, 99 0.5);
    font-size: 3vw;
}

#p4{
    font-weight: bold;
}

#p5 {
    font-style: oblique;
    text-decoration: red wavy underline;
}

#p6{
    text-decoration: blue underline;
}