body h1 {
    text-align: center;
    padding: 50px;
    background-color: rgba(176, 150, 200, 0.773);
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(201, 201, 231, 0.608);
    padding: 20px;
}



#stage {
    width: 500px;
    margin: 100px auto;
}

#heart {
    width: 100%;
}

#stageTwo {
    width: 500px;
    margin: 100px auto;
}

#run {
    width: 100%;
}