body{
    margin: 0px;
    padding: 20px;
    background-color: #fbf5f074;
}

#home img {
    width: 200px;
}

nav a {
    text-decoration: none;
    color: rgb(65, 21, 21);
    text-align: center;
    padding: 30px;
}

nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0px;
    font-weight: bold;
}

header #toppic {
    width:100%;
    max-height: 300px;
    object-fit: cover;
    object-position: 50% 50%;
}

main #part1{
    text-align: center;
    padding: 30px;
}

main h2 {
    text-align: center;
}
main #part2 {
    display: flex;
    text-align: center;
    justify-content: center;
}


main .blockpic {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

main .blockpic img {
    width: 100%;
    border-radius: 24px;
    margin: 10px;
}

.one{
    text-align: left;
}

.two{
    text-align: center;
    
}
footer {
    background-color: rgb(175, 18, 18);
    padding: 20px;
}

footer #home img {
    text-align: left;
    width: 150px;
}

footer .footericon {
    width: 20px;
    text-align: center;
    display: inline-block;
    padding: 10px;
}

.footericon img{
    width: 50px;
}

.footercopy {
    padding: 20px;
}
