 /* *{
    border: 5px solid black
 } */ 
 
 body {
    font-family: sans-serif;
}

header{
    border-bottom: 2px solid #837f7f;
    padding: 48px 36px 36px 36px;
}

header,
footer{
    background-color:#fa8072;
    color: white;;
}

footer{
    border-top: 2px solid #888888;
    padding: 48px;
    text-align: center;
}

footer div {
    margin: 12px;
}

header h1{
    font-size: 48px;
    margin: 60px 0px;
    text-align: center;  
}

header a {
    color: white;;
    margin: 6px;
}

main {
    background-color:#f0f8ff;
    padding: 48px;
}

h3 {
    color: #fa8072;
}

.card{
    background-color:white;
    border: 1px solid #fa8072;
    /* inset x-offset y-offset blur-offset color*/
    box-shadow: 4px 4px 8px gray;
    margin-bottom: 48px;
    padding: 48px;
   
}

figure{
    float: left;
}

figure img {
    width: 200px;
}

figcaption{
    text-align: center;
}
.clear {
    clear: both;
}